<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Automation Suite" parallel="methods" thread-count="3">
    
    <listeners>
        <listener class-name="com.testframework.listeners.TestListener"/>
    </listeners>

<!--    <test name="UI Tests - Basic">-->
<!--        <classes>-->
<!--            <class name="com.testframework.tests.ui.LoginTest"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="UI Tests - Advanced">-->
<!--        <classes>-->
<!--            <class name="com.testframework.tests.ui.AdvancedLoginTest"/>-->
<!--        </classes>-->
<!--    </test>-->

</suite>
